:root {
  --background: #000000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.image-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  grid-gap: 10px;
}

.back-to-top {
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 50px;
  bottom: 50px;
  background: #282828;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  z-index: 2;
  color: white;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.button-stop {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 50px;
  bottom: 125px;
  background: #282828;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  z-index: 2;
  color: white;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
}

footer {
  width: 100%;
  background: black;
  margin-top: 100px;
}

footer > p {
  color: white;
  text-align: center;
  font-size: 40px;
}

footer .copyright {
  width: 100%;
  height: 50px;
  background: #282828;
  margin-top: 50px;
}

footer .copyright p {
  color: white;
  text-align: center;
  line-height: 50px;
}